:root {
  --main-background: rgb(23, 15, 30);
  --main-background-accent: rgb(41 33 48);
  --main-color: rgb(229, 225, 230);
  --giga-color: #B4FF39; /* Names from the design doc https://www.figma.com/proto/esgmyAIiZ55aQG5v4yp9oN/Hacktoberfest-2022---Brand-Guidelines */
  --spark: #FFE27D;
  --surf: #64E3FF;
  --psybeam: #9092FF;
  --special-background: linear-gradient(to right, var(--spark), var(--surf), var(--psybeam));
  --main-font: "JetBrains Mono"
}

body {
  color: var(--main-color);
  font-family: var(--main-font);
}

::selection{
  color: var(--main-background);
  background-color: var(--giga-color);
}

a {
  color: var(--main-color);
  transition: 0.2s ease;
  opacity: 0.9;
}
a:hover {
  text-shadow: 0 0 3px var(--main-color);
  opacity: 1;
  color: var(--main-color);
  text-decoration: none;
}
.appbody {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f0e1;
}
.nav {
  background-color: var(--main-background-accent);
  height: 40px !important;
  padding: 0 !important;
  font-size: 85%;
  color: var(--main-color);
}
.appbody .main {
  min-height: calc(100vh - 40px);
  display: grid;
  background-color: var(--main-background);
}
.main {
  background-color: #ffffff;
  text-decoration-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.form {
  align-content: center;
  color: var(--main-background);
  background-color: var(--main-color);
  border-color: var(--main-color);
  margin-left: 1rem;
  border-width: 2px;
  justify-content: center !important;
  padding: 20px;
}
.form:focus {
  outline: none;
  border-color: var(--main-color);
  box-shadow: inset 0 0 0rem 0.2rem var(--main-background);
}
.special {
  background: var(--special-background);
  background-size: 120% 100%;
  background-position: 0 0;
  color: rgb(23, 15, 30);
  filter: drop-shadow(rgba(255, 215, 77, 0.6) -1px -1px 2px) drop-shadow(rgba(124, 127, 255, 0.6) 1px 1px 2px);
  transition: 0.2s ease;
  position: relative;
  overflow: hidden;
}
.special::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(RGBa(255,255,255,0.40),transparent);
  height: 200%;
  width: 20%;
  left: -10%;
  transform: rotate(30deg);
  transition: 0.2s ease;
  transition-delay: 0.2s;
}
.special:hover {
  background-position: 70% 0;
}
.special:hover::after {
  left: 10%;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: orangered !important;
  background-image: none !important;
  color: -internal-light-dark(black, rgb(209, 29, 29)) !important;
}
.center {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.profile {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.profile div {
  text-align: center;
}
.form1 {
  padding: 5px 0 20px;
  width: 100%;
}
.avatarBox {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.avatarBoxDefault {
  background: var(--special-background);
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.formBox {
  width: calc(100% - 100px);
}
.formBox.row {
  margin: 0;
}
.pullbox {
  transition: 0.3s ease-in-out;
}
.pullbox:hover {
  cursor: pointer;
}

.pullbox:hover .row {
  border-color: var(--surf);
}
.pullbox .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--main-background-accent);
  margin-bottom: 20px;
  background-color: transparent;
  padding: 1rem 0;
  transition: 0.25s ease;
}
.pullbox .card {
  border: none;
  border-radius: 0;
}
.card-info {
  background-color: transparent;
  justify-content: center;
  padding-left: 30px;
}
.card-info p {
  margin: 0;
}
.card-info a {
  color: #fff;
  font-size: 25px;
  display: block;
  text-decoration: none;
}
.pullbox .detail-card.card {
  border-left: 0.25rem solid;
}
.detail-card p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.loader {
  padding: 10px;
  width: 100%;
}
.loadscreen {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 2px solid var(--spark);
  border-radius: 50%;
  border-left: none;
  box-shadow: 0px 0px 5px 1px var(--spark);
  animation: loader infinite 500ms;
}
.btn {
  background-color: rgb(255, 255, 255);
  border-color: orangered;
  border-radius: 5px;
  border-width: 2px;
  font-weight: bold;
  font-family: 'Robot';
  color: #ff4400;
  margin-right: 1rem;
}
btn:hover {
  background-color: orangered;
  color: white;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    border-color: var(--spark);
    box-shadow: 0px 0px 5px 1px var(--spark);
  }
  30% {
    border-color: var(--surf);
    box-shadow: 0px 0px 5px 1px var(--surf);
  }
  60% {
    border-color: var(--psybeam);
    box-shadow: 0px 0px 5px 1px var(--psybeam);
  }
  100% {
    transform: rotate(-360deg);
    border-color: var(--spark);
    box-shadow: 0px 0px 5px 1px var(--psybeam);
  }
}

.details-of-site {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.details-of-site .part {
  margin: 10px;
}
.details-of-site .part .fa {
  margin-right: 8px;
}

footer a {
  font-weight: bold;
}

@media screen and (max-width: 575.99px) {
  .avatarBox {
    display: none;
  }
  .formBox {
    width: 100%;
  }
  .formBox input {
    margin-bottom: 20px;
  }
  .hacktoberfest-imgbox img {
    width: 100%;
    height: 100%;
  }
}
