.appbody {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f4f0e1;
}
.nav {
  background-color: #dbe8d9;
  height: auto !important; /* kept nav height auto to auto adjust for small devices */
  padding: 0 !important;
  font-size: 85%;
  color: #ff4400;
}
.appbody .main {
  min-height: calc(100vh - 40px);
  /* display: grid;  -> removing this improves UI on phone devices */ 
  background-color: #2b3531;
}
.main {
  background-color: #ffffff;
  text-decoration-color: rgb(255, 255, 255);
  color: #dbe8d9;
  height: 100%;
  width: 100%;
}
.form {
  align-content: center;
  color: rgb(214, 62, 62) !important;
  background-color: #dbe8d9 !important;
  border-color: rgb(218, 64, 8);
  /* margin-left: 1rem; -> removing this improves UI on phone devices */
  border-radius: 50px;
  border-width: 2px;
  justify-content: center !important;
  padding: 20px;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: orangered !important;
  background-image: none !important;
  color: -internal-light-dark(black, rgb(209, 29, 29)) !important;
}
.center {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  color: #2b3531;
}
.profile {
  display: flex;
  justify-content: center;
  color: #dbe8d9;
  margin-bottom: 40px;
}
.profile div {
  text-align: center;
}
.check-your-progress-text {
  margin-left: 1rem;
  font-size: 2.5rem;
}
.form1 {
  padding: 5px 0 20px;
  width: 100%;
  margin: 0px; /* default margin of -15px affected mobile UI */
}
.avatarBox {
  width: 100px;
}
.formBox {
  width: calc(100% - 100px);
}
.formBox.row {
  margin: 0;
}
.pullbox {
  transition: 0.3s ease-in-out;
}
.pullbox:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pullbox:hover .row {
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.7);
}
.pullbox .row {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  border-radius: 14px;
  background-color: #677662;
  padding: 1rem;
}
.pullbox .card {
  border: none;
  border-radius: 0;
}
.card-info {
  background-color: transparent;
  justify-content: center;
  padding-left: 30px;
}
.card-info p {
  margin: 0;
}
.card-info a {
  color: #fff;
  font-size: 25px;
  display: block;
  text-decoration: none;
}
.pullbox .detail-card.card {
  border-left: 0.25rem solid;
}
.detail-card p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.loader {
  padding: 10px;
  width: 100%;
}
.loadscreen {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-left: none;
  box-shadow: 0px 0px 5px 1px #777;
  background-color: rgb(218, 64, 8);
  animation: loader infinite 500ms;
}
.btn {
  background-color: rgb(255, 255, 255);
  border-color: orangered;
  border-radius: 5px;
  border-width: 2px;
  font-weight: bold;
  font-family: 'Robot';
  color: #ff4400;
  margin-right: 1rem;
}
btn:hover {
  background-color: orangered;
  color: white;
}
@keyframes loader {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}

.details-of-site {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.details-of-site .part {
  margin: 10px;
}
.details-of-site .part .fa {
  margin-right: 8px;
}

footer a {
  color: #d63e3e;
  font-weight: bold;
}
footer a:hover {
  color: aqua;
  text-decoration: none;
}
.blog-wrapper {
  background-color: #2B3531;
  padding-inline: 20%;
}

@media screen and (max-width: 575.99px) {
  .avatarBox {
    display: none;
  }
  .formBox {
    width: 100%;
  }
  .formBox input {
    margin-bottom: 20px;
  }
  .hacktoberfest-imgbox img {
    width: 90%; /* width decreased to fit the main hacktoberfest logo in phone screen */
    height: 100%;
  }
  .check-your-progress-text {
    margin-left: 1rem;
    font-size: 2rem;
  }
  .blog-wrapper {
    background-color: #2B3531;
    padding-inline: 0%;
  }
}
