.appbody {
  min-height: 100vh;
}
.nav {
  background-color: rgb(218, 64, 8);
  height: 40px !important;
  padding: 0 !important;
  font-size: 85%;
}
.appbody .main {
  min-height: calc(100vh - 40px);
  display: grid;
}
.main {
  background-color: #ffffff;
  text-decoration-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.form {
  align-content: center;
  color: white !important;
  background-color: white !important;
  border-color: rgb(218, 64, 8);
  margin-left: 1rem;
  border-radius: 4px;
  border-width: 2px;
  justify-content: center !important;
  
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: orangered !important;
  background-image: none !important;
  color: -internal-light-dark(black, rgb(209, 29, 29)) !important;
}
.center {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.profile{
  display: flex;
  justify-content: center;
}
.profile div {
  text-align: center;
}
.form1{
  margin: 0 0 20px;
  padding: 5px 0 90px;
  width: 100%;
}
.avatarBox {
  width: 100px;
}
.formBox {
  width: calc(100% - 100px);
}
.formBox.row {
  margin: 0;
}
.pullbox {
  transition: 0.3s ease-in-out;
}
.pullbox:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pullbox:hover .row{
  box-shadow: 1px 8px 10px rgba(0, 0, 0, 0.7);
}
.pullbox .row{
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 8px 10px rgba(0, 0, 0, .4);
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: rgb(218, 64, 8);
  padding: 1rem;
}
.pullbox .card {
  border: none;
  border-radius: 0;
}
.card-info{
  background-color: transparent;
  justify-content: center;
}
.card-info p {
  margin: 0;
}
.card-info a {
  color: lightpink;
  display: block;
  text-decoration: none;
}
.pullbox .detail-card.card {
  border-left: 0.25rem solid;
}
.detail-card p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.loader {
  padding: 10px;
  width: 100%;
}
.loadscreen {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-left: none;
  box-shadow: 0px 0px 5px 1px #777;
  background-color: rgb(218, 64, 8);
  animation: loader infinite 500ms;
}
.btn
{
  background-color: rgb(255, 255, 255);
  border-color: orangered;
  border-radius: 5px;
  border-width: 2px;
  font-weight: bold;
  font-family: 'Robot';
  color: orangered;
  
}
btn:hover{
  background-color: orangered;
  color: white;
}
@keyframes loader{
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}

.details-of-site {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.details-of-site .part {
  margin: 10px;
}
.details-of-site .part .fa {
  margin-right: 8px;
}

footer a {
  color: lightcoral;
  font-weight: bold;
}
footer a:hover {
  color: aqua;
  text-decoration: none;
}

@media screen and (max-width:575.99px){
  .avatarBox{
    display: none;
  }
  .formBox{
    width: 100%;
  }
  .formBox input{
    margin-bottom: 20px;
  }
  .hacktoberfest-imgbox img{
    width: 100%;height: 100%;
  }
}

