.appbody {
  min-height: 100vh;
}
.nav {
  background-color: rgb(147, 194, 219);
  height: 40px !important;
  padding: 0 !important;
  font-size: 85%;
}
.appbody .main {
  min-height: calc(100vh - 40px);
  display: grid;
}
.main {
  background-color: #02203c;
  text-decoration-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
}
.form {
  align-content: center;
  color: white !important;
  background-color: rgb(24, 61, 93) !important;
  justify-content: center !important;
  
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: rgb(24, 61, 93) !important;
  background-image: none !important;
  color: -internal-light-dark(black, white) !important;
}
.center {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.profile{
  display: flex;
  justify-content: center;
}
.profile div {
  text-align: center;
}
.form1{
  margin: 0 0 20px;
  padding: 5px 0 20px;
  width: 100%;
}
.avatarBox {
  width: 100px;
}
.formBox {
  width: calc(100% - 100px);
}
.formBox.row {
  margin: 0;
}
.pullbox {
  transition: 0.3s ease-in-out;
}
.pullbox:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.pullbox .row{
  display: flex;
  justify-content: space-between;
  box-shadow: 4px 4px 0px 2px black;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #183d5d;
  padding: 1rem;
}
.pullbox .card {
  border: none;
  border-radius: 0;
}
.card-info{
  background-color: transparent;
  justify-content: center;
}
.card-info p {
  margin: 0;
}
.card-info a {
  color: lightpink;
  display: block;
  text-decoration: none;
}
.pullbox .detail-card.card {
  border-left: 0.25rem solid;
}
.detail-card p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
}

.loader {
  padding: 10px;
  width: 100%;
}
.loadscreen {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  border-left: none;
  box-shadow: 0px 0px 5px 1px #777;
  background-color: #113545;
  animation: loader infinite 500ms;
}

@keyframes loader{
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}

@media screen and (max-width:575.99px){
  .avatarBox{
    display: none;
  }
  .formBox{
    width: 100%;
  }
  .formBox input{
    margin-bottom: 20px;
  }
  .hacktoberfest-imgbox img{
    width: 100%;height: 100%;
  }
}

